@model GestionReservation.Models.Client
@{
    ViewData["Title"] = "Inscription client";
}
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('~/assets/img/page-header.jpg');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Bienvenue</h2>
                    <p>Site de réservation de billet d'avion.</p>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
            </ol>
        </div>
    </nav>
</div>
<br />
<br />
<br />
<!-- Section: Design Block -->
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="~/assets/img/avion.jpg"
                     class="img-fluid" alt="Sample image">
            </div>

            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-action="ValidationSignup" asp-controller="Client">
                    @if (ViewData["mdpdiff"] != null)
                    {
                        <div>
                            <h4 class="small fw-bold mt-4 pt-1 mb-0" style="margin-left: 80px;"><p class="link-danger">Erreur confirmation Mot de passe !!!</p></h4>
                        </div>
                        <br />
                    }



                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3" style="margin-left: 120px;">Inscription Client</p>



                    </div>
                    <br />





                    <div class="form-outline mb-4">
                        <input type="text" required id="form3Example3" class="form-control form-control-lg"
                               placeholder="Votre identifiant" asp-for="Identifiant" />
                        <span asp-validation-for="Identifiant" class="text-danger"></span>

                    </div>
                    <br />
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" required id="form3Example4" class="form-control form-control-lg"
                               placeholder="Votre mdp" asp-for="Mdp" />
                        <span asp-validation-for="Mdp" class="text-danger"></span>

                    </div>
                    <br />
                    <div class="form-outline mb-3">
                        <input type="password" required name="mdp1" id="form3Example4" class="form-control form-control-lg"
                               placeholder="Confirmation mdp" />


                    </div>
                   


                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem; margin-left: 115px;">
                            S' inscrire
                        </button>

                    </div>

                </form>
            </div>
        </div>
    </div>

</section>
<!-- Section: Design Block -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<br />
<br />
<br />