#centre{
    margin-left: 500px;
}
#centre1 {
    margin-left: 430px;
}
#centre0 {
    margin-left: 400px;
}
#centre2 {
    margin-left: 100px;
}
#login {
    margin-left: 100px;
}
#logincenter {
    margin-left: 50px;
}
