@model GestionReservation.Models.Vol

@{
    ViewData["Title"] = "Modifier Vol";
}
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('~/assets/img/page-header.jpg');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Bienvenue</h2>
                    <p>Site de réservation de billet d'avion.</p>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a href="">Bienvenue Admin</a></li>
                <li><a asp-area="" asp-controller="Vols" asp-action="Index">Configurer Vol</a></li>
                <li><a asp-area="" asp-controller="Avions" asp-action="Index">Configurer Avion</a></li>
                <li><a asp-area="" asp-controller="Administrateur" asp-action="ListeReservation">Voir Liste Réservations</a></li>
                <li><a asp-area="" asp-controller="Administrateur" asp-action="Logout">Log Out</a></li>
            </ol>
        </div>
    </nav>
</div>
<br />
<br />
<br />
<div id="centre">
    <h1>Modifier Vol</h1>

    <br /><br />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="DateHeureVol" class="control-label"></label>
                    <input asp-for="DateHeureVol" class="form-control" />
                    <span asp-validation-for="DateHeureVol" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <label asp-for="DureeVol" class="control-label"></label>
                    <input asp-for="DureeVol" min="0" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" class="form-control" />
                    <span asp-validation-for="DureeVol" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <label asp-for="LieuDepart" class="control-label"></label>
                    <input asp-for="LieuDepart" class="form-control" />
                    <span asp-validation-for="LieuDepart" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <label asp-for="LieuArrivee" class="control-label"></label>
                    <input asp-for="LieuArrivee" class="form-control" />
                    <span asp-validation-for="LieuArrivee" class="text-danger"></span>
                </div><br />
                <div class="form-group">



                    <label asp-for="IdAvion" class="control-label"></label>

                    <span asp-validation-for="IdAvion" class="text-danger"></span>

                    <select asp-for="IdAvion" class="form-control">
                        @foreach (var data in ViewData["listeAvions"] as List<Avion>)
                        {

                            <option value="@data.Id">@data.Modele</option>
                        }
                    </select>
                </div><br />

                <div class="form-group">
                    <input type="submit" value="Enregistrer" style="margin-left: 70px;"  class="btn btn-primary" />
                </div><br />
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" style="margin-left: 75px;">Voir Liste Vols</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<br />
<br />
<br />